<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pfe_dwm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_app"
        android:label="@string/app_name"

        android:hardwareAccelerated="false"

                android:roundIcon="@drawable/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFE_DWM"
        android:usesCleartextTraffic="true">
        <activity android:name=".SendMailTask"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notif_patient_affichage" />
        <activity android:name=".notif_icon" />
        <activity android:name=".gestion_sec" />
        <activity android:name=".secretaire_create_account" />
        <activity android:name=".secretaire_account" />
        <activity android:name=".medcin_calendar" />
        <activity android:name=".rdv_medcin" />
        <activity android:name=".create_calendar" />
        <activity android:name=".rdv_annulation_secretaire" />
        <activity android:name=".rdv_modification_secretaire" />
        <activity android:name=".rdv_secretaire" />
        <activity android:name=".notif_list" />
        <activity android:name=".patient_rdv" />
        <activity android:name=".MyData" />
        <activity android:name=".CustomAdapter" />
        <activity android:name=".Profile" />
        <activity android:name=".MesRendezVous" />
        <activity android:name=".Tabs" />
        <activity android:name=".MainActivity" />
        <activity android:name=".secretaire" />
        <activity android:name=".medecin" />
        <activity android:name=".nav_header" />
        <activity android:name=".Accueil" />
        <activity android:name=".register" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>